In [2]:
%matplotlib inline
import pandas as pd
import fiona
import numpy as np
import geopandas as gpd

# Loading data

In [3]:
file_name = "../Data/ListofGoodsExcel.xlsx"
xl_file = pd.ExcelFile(file_name)

In [19]:
df = pd.read_excel(file_name, sheet_name='Sheet1', header=0)

In [20]:
df

         Country     Good Child Labor Forced Labor
0    Afghanistan   Bricks           X            X
1    Afghanistan  Carpets           X          NaN
2    Afghanistan     Coal           X          NaN
3    Afghanistan  Poppies           X          NaN
4    Afghanistan     Salt           X          NaN
..           ...      ...         ...          ...
413       Zambia   Cattle           X          NaN
414       Zambia   Cotton           X          NaN
415       Zambia     Gems           X          NaN
416       Zambia   Stones           X          NaN
417       Zambia  Tobacco           X          NaN

[418 rows x 4 columns]

# Test if the country is in the database

In [47]:
searchfor='China'    
#df[df['Country'].str.contains('|'.join(searchfor))]['Country']
df[(df['Country']==searchfor) & (df['Good']=='Cotton')]

    Country    Good Child Labor Forced Labor
108   China  Cotton           X            X

## Is child labor or Forced labor involved?

In [45]:
if df[(df['Country']==searchfor) & (df['Good']=='Cotton')& ((df['Child Labor']=='X'))].index.any():
    print('Child labor involved in '+searchfor)

Child labor involved in China

In [46]:
if df[(df['Country']==searchfor) & (df['Good']=='Cotton')& ((df['Forced Labor']=='X'))].index.any():
    print('Forced labor involved in '+searchfor)

Forced labor involved in China